/* ------------------------- */
/* Custom properties */
/* ------------------------- */

:root {
    --clr-body: hsl(0,0%,8%);
    --clr-body2: hsl(0,0%,14%);
    --clr-accent-green: hsl(153,71%, 59%);
    --clr-white: hsl(0,0%,100%);
    --clr-gray: hsl(0,0%,85%);

    /* Used for invalid form submission alert */
    --clr-invalid-red: hsl(7,100,68%);

    --ff-main: 'Space Grotesk', sans-serif;

    --fw-medium: 500;
    --fw-bold: 700;

    --fs-xl: 2.5rem; /* 40px */
    --fs-lg: 2rem; /* 32px */
    --fs-med: 1.5rem; /* 24px */
    --fs-sm: 1rem; /* 16px */

    --lh-body: 1.625rem; /* 26px */
    --lh-h1: 2.5rem; /* 40px */

    --ls-xl: -1.14px;
    --ls-lg: -1.5px;
    --ls-links: 2.29px;

    --transition: var(--clr-accent-green) 500ms ease-in-out;
}

@media (min-width: 35em) {
    :root {
        --fs-xl: 4.5rem; /* 72px */
        --fs-lg: 3rem; /* 48px */
        --fs-med: 2rem; /* 32px */
        --fs-sm: 1.125rem; /* 18px */

        --lh-body: 1.75rem; /* 28px */
        --lh-h1: 4.5rem; /* 72px */

        --ls-xl: -2.05px;
    }
}

@media (min-width: 60em) {
    :root {
        --fs-xl: 5.5rem; /* 88px */

        --lh-h1: 5.5rem; /* 88px */

        --ls-xl: -2.5px;
    }
}

/* ------------------------- */
/* CSS reset */
/* ------------------------- */
/* Credit: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* Use a more-intuitive box-sizing model */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* Set default font size to user's preferences to allow for proper rem/em sizing */
:root {
    font-size: 100%;
}

/* Remove default margin*/
* {
    margin: 0;
}

/* Allow percentage-based heights in the application */
html, body {
    height: 100%;
}

/* Typographic tweaks! Add accessible line-height, improve text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Remove default styling on a */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows and set default font-weight */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    line-height: var(--lh-sm);    
}

/* Removes left padding on unordered lists */
ul {
    padding-left: 0;
}

/* Removes list style from li elements */
li {
    list-style: none;
}

/* Smaller line height for larger font sizes */
h1, h2, h3 {
    line-height: 1.1;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------------- */
/* Utility classes */
/* ------------------------- */

/* layout */ 
.flex {
    display: flex;
    gap: 1.5rem;
}

.grid {
    display: grid;
    gap: 1rem;
}

/* screen reader only, visually hides content for sighted users, but keep
that content in the page so that users with assisted technologies can see
more descriptive text  */ 
.sr-only { 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* colors */
.bg-body { background-color: var(--clr-body);}
.bg-body-2 { background-color: var(--clr-body2);}

.text-white {color: var(--clr-white);}
.text-gray {color: var(--clr-gray);}

.accent-green {color: var(--clr-accent-green);}

 /* typography */
.ff-body { font-family: var(--ff-main);}

.fs-h1 { font-size: var(--fs-xl);}
.fs-h2 { font-size: var(--fs-lg);}
.fs-nav { font-size: var(--fs-med);}
.fs-body { font-size: var(--fs-sm);}

.fw-regular {font-weight: var(--fw-medium);}
.fw-bold {font-weight: var(--fw-bold);}

.ls-xl { letter-spacing: var(--ls-xl); }
.ls-lg { letter-spacing: var(--ls-lg); }
.ls-links { letter-spacing: var(--ls-links); }

/* ------------------------- */
/* General styling */
/* ------------------------- */

body {
    background-color: var(--clr-body);
    color: var(--clr-white);
    font-size: var(--fs-sm);
    font-family: var(--ff-main);
    font-weight: var(--fw-medium);
    overflow: hidden;
}

.wrapper {
    width: calc(100% - 2rem);
    max-width: 69.375rem; /* 1110px */
    margin-inline: auto;
    text-align: center;
}

a {
    transition: var(--transition);
    cursor: pointer;
}

a:hover {
    color: var(--clr-accent-green);
}

 a.underline {
    line-height: var(--lh-body);
    font-size: var(--fs-sm);
    letter-spacing: var(--ls-links);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    color: var(--clr-white);
    border-bottom: 2px solid var(--clr-accent-green);
    padding-bottom: 10px;
}

/* 560px */
@media (min-width: 35em) {
    .wrapper {
        width: calc(100% - 3.75rem);
        text-align: left;
    }
}

/* ------------------------- */
/* Navigation */
/* ------------------------- */

.header {
    margin-top: 1.25rem;;
}

.header__home {
    line-height: 1;
}

.header__social-link > svg > path {
    transition: fill var(--transition);
}

.header__social-link:hover > svg > path {
    fill: var(--clr-accent-green);
}

.header__nav {
    flex-direction: column;
    align-items: center;
}

/* 560px */
@media (min-width: 35em) {
    .header__nav {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    .header {
        margin-top: 2rem;
    }
}

/* 960px */
@media (min-width: 60em) {
    .header {
        margin-top: 2.5rem;
    }

    .header__nav {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 127px;
    }
}

/* ------------------------- */
/* Hero */
/* ------------------------- */

.hero__wrapper {
    padding-bottom: 5rem;
    border-bottom: 1px solid var(--clr-gray);
}

h1 > span {
    text-decoration: underline;
    text-decoration-color: var(--clr-accent-green);
    text-underline-offset: 6px;
}

.hero__image {
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 0;
    margin-inline: auto;
}

.hero__text {
    margin-top: 335px;
}

.hero__headline, .hero__description {
    margin-bottom: 1.5rem;
}
  
.hero__circle {
    position: fixed;
    top: 254px;
    right: -70px;
}

.hero__rings {
    position: absolute;
    left: -200px;
    top: 130px;
    z-index: -1;
}

.hero__headline > br {
    display: none;
}

@media (min-width: 59em) and (max-width:72.5em) {
    .hero__headline {
        font-size: 4.5rem;
    }

    .hero__headline > br {
        display: inline-block;
    }
}

/* 560px */
@media (min-width: 35em) {
    .hero__text {
        margin-top: 0;
        width: 50vh;
    }

    .hero__image {
        width: 20.125rem;
        height: auto;
        right: 0;
        left: auto;
        translate: 0;
        z-index: -1;
    }

    .hero__rings {
        top: 90px;
        left: -275px;
    }

    .hero__circle {
        top: 471px;
    }

    .hero__headline > br {
        display: inline-block;
    }

    .hero__headline {
        margin-bottom: 3.75rem;
    }

    .hero__description {
        margin-bottom: 2rem;
        max-width: 28rem;
    }
}

/* 960px */
@media (min-width: 60em) {
    .hero__wrapper {
        padding-bottom: 15rem;
    }

    .hero__headline > br {
        display: none;
    }

    .hero__image {
        width: 27.81rem;
        top: -180px;
        right: 0px;
    }

    .hero__text {
        width: 64%;
    }

    .hero__rings {
        top: -50px;
        left: -220px;
    }

    .hero__circle {
        /* right: 530px;
        top: 500px; */
        top: 0;
    }

    .hero-text > h1 {
        margin-bottom: 2.69rem;
    }

    .hero__headline {
        margin-bottom: 2.69rem;
      }
    
    .hero__description {
    margin-bottom: 4.125rem;
    }

    .hero__wrapper {
        position: relative;
        right: 0;
    }
}

/* ------------------------- */
/* Skills */
/* ------------------------- */
